.info {
    color: brown;
}

.danger {
    color: white;
}

.search {
    display: flex; 
    align-items: flex-start; 
    margin-bottom: 20px;
}

.book {
    margin-right: 20px;
}

.book-img {
    width: 120px; 
    height: auto;
}

.search-button {
    margin-top: 10px;
}