{% extends "lib_app/base.html" %}
{% block title %}問い合わせフォーム{% endblock %}
{% block content %}
<div class="text-center">
    <h1>問い合わせフォーム</h1>
    <form method="post">
        {% csrf_token %}
        <label for="message" class="form-label font-monospace">問い合わせ内容</label><br>
        {{ form.message }}<br>
        <button type="submit" class="btn btn-primary mb-1">送信</button>
    </form>
    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}
    <a href="{% url "top" %}">トップページに戻る</a>
</div>
{% endblock content %}