{% extends "lib_app/base.html" %}
{% load custom_filters %}
{% block title %}検索結果{% endblock %}
{% block content %}
<div class="text-center">
    <h1>{{info.title}}</h1>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-3 text-center">
                <img src="https://ndlsearch.ndl.go.jp/thumbnail/{{ISBN}}.jpg" onerror="this.onerror=null;this.src=
                'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGV
                pZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSA4LjVjMC0uODI4LjY3Mi0xLjUgMS41LTEuNXMxLjUuN
                jcyIDEuNSAxLjVjMCAuODI5LS42NzIgMS41LTEuNSAxLjVzLTEuNS0uNjcxLTEuNS0xLjV6bTkgLjVsLTIuNTE5IDQtMi40ODE
                tMS45Ni00IDUuOTZoMTRsLTUtOHptOC00djE0aC0yMHYtMTRoMjB6bTItMmgtMjR2MThoMjR2LTE4eiIvPjwvc3ZnPg==';"
                class="img-thumbnail small-img"/>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-4 text-center fs-5">
                    <a>著者：{{info.writer}}</a><br>
                    <a>出版社：{{info.publisher}}</a><br>
                    <button class="btn btn-primary mt-3" onclick="location.href='{% url "reserve" ISBN %}'">予約する</button>
                </div>
            </div>
        </div>
    </div>
    <br><h2>最新のレビュー</h2>
    {% if review.count == 0 %}
        <a>レビューはありません</a><br>
    {% else %}
        {% for i in review %}
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6 text-start lh-1">
                        <p class="fs-5"><strong>評価：{{i.stars|stars}}</strong></p>
                        <p>{{i.review|linebreaksbr}}</p>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        {% endfor %}
        <hr><a href="{% url "review" ISBN %}" >レビューをもっと見る</a>
    {% endif %}
    <br><br><a href="{% url "top" %}">トップに戻る</a>
</div>
{% endblock content %}