{% extends "lib_app/base.html" %}
{% block title %}マイページ{% endblock %}
{% block content %}
<div class="text-center">
    <h3>{{ user }}さんのマイページ</h3>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <ul class="list-group text-center" style="width: 480px;">
                <a href='{% url "reserve_view" %}' class="list-group-item list-group-item-action"><strong>予約書籍確認</strong></a>
                <a href='{% url "lending_view" %}' class="list-group-item list-group-item-action"><strong>貸出書籍確認</strong></a>
                <a href='{% url "option" %}' class="list-group-item list-group-item-action"><strong>ユーザー設定</strong></a>
            </ul>
            <div class="col"></div>
        </div>
    </div>
    <a href={% url "logout" %}>ログアウト</a>
    <a href={% url "top" %}>トップに戻る</a>
</div>
{% endblock content %}