<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ（仮）</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous">
</head>
<body>
    <h3>ようこそ、{{ user }}さん</h3>
    <button onclick="location.href='{% url "reserve_view" %}'">予約書籍確認</button><br>
    <button onclick="location.href='{% url "lending_view" %}'">貸出書籍確認</button><br>
    <button>ユーザー設定</button><br>
    <a href={% url "logout" %}>ログアウト</a>
    <a href={% url "top" %}>トップに戻る</a>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous">
</body>
</html>