<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>登録（仮）</title>
</head>
<body>
    <table>
        <form action ={% url "register" %} method="post"> <!--プロジェクトフォルダ"register"にデータが飛ぶはず-->
            {% csrf_token %}
            <tr>
                <td></td>
                <td>登録フォーム<td>
            </tr>
            {{ form1.as_table }}
            {{ form2.as_table }}
            <tr>
                <td></td>
                <td><button type:"submit">登録</button><td>
            </tr>
        </form>
        {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
    </table>
</body>
</html>