<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ（仮）</title>
</head>
<body>
    <form method="get">
        <input type="search" value="{{ request.GET.query }}" 
               name="query" type="text" 
               placeholder="タイトルを入力 ">
    </form>
    <form method="get">
        <input type="search" value="{{ request.GET.query }}" 
               name="query" type="text" 
               placeholder="著者を入力 ">
    </form>
    <form method="get">
        <input type="search" value="{{ request.GET.query }}" 
               name="query" type="text" 
               placeholder="出版社を入力 ">
    </form>
    <form method="get">
        <input type="search" value="{{ request.GET.query }}" 
               name="query" type="text" 
               placeholder="ISBNを入力 ">
    </form>
    <button>検索</button>
</body>
</html>