<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ（仮）</title>
</head>
<body>
    <a>ようこそ、{{ user }}さん</a> <a href= {% url "mypage" %}>マイページ</a>
    <table>
        <form action ={% url "search" %} method="post"> <!--プロジェクトフォルダ"search"にデータが飛ぶはず-->
            {% csrf_token %}
            <tr>
                <td></td>
                <td>検索フォーム<td>
            </tr>
            {{ form1.as_table }}
            {{ form2.as_table }}
            <tr>
                <td></td>
                <td><button type:"submit">検索</button><td>
            </tr>
        </form>
        {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
    </table>
</body>
</html>