{% extends "lib_app/base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <a><strong>ようこそ、{{ user }}さん</strong></a> <a href= {% url "mypage" %}>マイページ</a><br>
    <form action ={% url "search" %} method="get"> <!--プロジェクトフォルダ"search"にデータが飛ぶはず-->
        <input class="form-control me-2" type="search" name="keyword" placeholder="書籍検索" style="width: 200px; display: inline-block;">
        <button class="btn btn-secondary" type="submit">検索</button>
    </form>
    <div class="col-2 text-bg-info">
        {% if message1 %}<p><strong>{{ message1 }} <a href="{% url "reserve_view" %}" class="info">確認</a></strong></p>{% endif %}
    </div>
    <div class="col-2 text-bg-danger">
        {% if message2 %}<p><strong>{{ message2 }} <a href="{% url "lending_view" %}" class="danger">確認</a></strong></p>{% endif %}
    </div>
    <a href="{% url "check" %}">貸出・返却はこちら</a><br>
    <br><h3>最新のお知らせ</h3><hr>
    {% for i in news %}
        <p>{{ i.created_at }}   <a href="{% url "news" i.id %}"><strong>{{ i.title }}</strong></a></p>
        <hr>
    {% endfor %}
    <a href="{% url "news_list" %}">お知らせ一覧</a><br>
    <a href="{% url "contact" %}">問い合わせはこちら</a><br>
{% endblock content %}